@mixin text($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin button($color, $bg-color, $border-color, $color-hover, $bg-color-hover, $border-color-hover) {
    font-weight: $fw-bold-1;
    padding: 10px 30px;
    border-radius: 0;
    color: $color;
    background-color: $bg-color;
    border: 2px solid $border-color;
    &:hover {
        border-color: $border-color-hover;
        background-color: $bg-color-hover;
        color: $color-hover;
    }
}

@mixin absolute($top, $left, $w, $h) {
    position: absolute;
    top: $top;
    left: $left;
    width: $w;
    height: $h;
}

@mixin absolute_bottom($bottom, $left, $w, $h) {
    position: absolute;
    bottom: $bottom;
    left: $left;
    width: $w;
    height: $h;
}

@mixin text_overflow($line) {
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}