$color-white-0: #fff;
$color-white-1: #eef9ff;
$color-black: #000;
$color-yellow: #fbd902;
$color-secondary: #424850;
$color-secondary-1: #252525;
$color-secondary-2: #888888;
// $color-primary:#00263a;
// $color-primary-1:#007bb9;
// $color-primary-2:#00bfff;
$color-primary: #ab3f00;
$color-primary-1: #ea5904;
$color-primary-2: #fd7f35;
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 32px;
$fs-5: 40px;
$fw-normal: normal;
$fw-thin: 200;
$fw-bold-0: 500;
$fw-bold-1: 700;
//title
$font-title: "Grenze", serif;
// $font-title: "Montserrat", sans-serif;
//text
$font-text: "Be Vietnam", sans-serif;
$pd-0: 150px;
$pd-1: 12px;
$pd-2: 20px;
$pd-3: 50px;
