@import "~src/styles/scss/index.scss";
::ng-deep .modal-component{
.modal {
  width: 60%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);

  .modal-content {
    background: none;
    border: 0;
    .close-modal {
      color: white;
      font-size: 30px;
      position: absolute;
      top: -40px;
      right: -5px;
      cursor: pointer;
      background: transparent;
      border: 0;
      &:hover {
        color: $color-primary-2;
      }
    }
    .modal-header {
      border: 0;
    }
    iframe {
      border: 0;
      width: 100%;
    }
  }
  .modal-dialog {
    max-width: none;
  }
}
}