<div class="bill">
  <div class="bill-detail">
    <div class="price">{{ tongTien | currency: "VND":"" }} VND</div>
    <div class="ten-phim">
      <small>Phim: </small>{{ dataLichChieu.thongTinPhim.tenPhim }}
    </div>
    <div class="chi-nhanh">
      <small>Địa chỉ: </small>{{ dataLichChieu.thongTinPhim.diaChi }}
    </div>
    <div class="rap">
      <small>Thời gian: </small>
      {{ dataLichChieu.thongTinPhim.ngayChieu }} -
      {{ dataLichChieu.thongTinPhim.gioChieu }} -
      {{ dataLichChieu.thongTinPhim.tenRap }}
    </div>
    <div class="ghe">
      <div class="row">

        <div class="col-5"><small>GHẾ</small></div>
        <div class="col-5"><small>GIÁ VÉ</small></div>
        <div class="col-2"></div>
        <br />
        <ng-container *ngFor="let item of danhSachGheDangChon">
          <div class="col-5">{{ item.tenGhe }}</div>
          <div class="col-5">{{ item.giaVe | currency: "VND":"" }}đ</div>
          <div class="col-1">
            <button class="btn--del" (click)="huyGhe(item.maGhe)">x</button>
          </div>
          <div class="col-1"></div>
        </ng-container>
      </div>
    </div>
    <div class="btn--dat-ve btn" (click)="buyTicket()">
      MUA VÉ
    </div>
  </div>
</div>